.language {
  position: absolute;
  width: 8em;
  top: 0.5em;
  right: 0;
  cursor: pointer;
  border: none;
}

.language-wrapper {
  position: relative;
}

.language:focus {
  border: none;
  box-shadow: none;
}